@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground;
}

::selection {
  @apply bg-brand text-brand-foreground;
}
